.Layout {
  width: 60%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: Black;
}
.Field {
  width: 200px;
  min-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
textarea.Field {
  width: 200%;
  text-align: center;
  min-height: 70px;
}

.Form {
  width: 50%;
  margin-right: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  width: 200px;
  min-height: 40px;
  padding: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  text-shadow: 4px 4px 0px #fdfdfd;
}
body {
  background: linear-gradient(90deg, #ef7507, #e107ef);
  background-size: auto;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
